.card {
    flex: 0 0 auto;
    width: 50%;
    height: 32em;
    color: black;
    border-radius: 0;
    padding: 1em;
    border: 1px solid white;
    overflow: scroll;
    background-color: rgb(252,249,250);

}

.card a {
    text-decoration: none;
    color: #a35364;
}

.card a:hover {
    color: black;
}

.card h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: black;
}

@media (max-width: 800px) {
    .card {
        width: 80%;
        height: 34em;
    }
}

@media (max-width: 770px) {
    .card {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}


/* CARD ONE */

#card-one {
    background-image: url("../assets/selfie.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #835983;
    border: 1px solid white;
    padding-bottom: 2em;
}

#card-one-img {
    width: 100%;
    height: 100%;
}


/* CARD TWO */

#card-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 1px solid white;
    padding: 1em;
}

#card-two h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.blog-text {
    padding: 2em;
    margin-top: -2em;
}

#card-two h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 25px;
}

#card-two a {
    font-family: 'Montserrat Subrayada', sans-serif;
    margin-top: -1em;
}


/* CARD THREE */

#card-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1em;
    background-image: url("../assets/BackgroundGraphic.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1050px) {
    #card-three {
        background-image: url("../assets/backgroundGraphic2.gif");
    }
}


/* CARD FOUR */

#card-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1em;
}

#card-four h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
}

.about-text {
    padding: 3em;
    margin-top: -2em;
}

#card-four h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 30px;
}

#card-four a {
    font-family: 'Montserrat Subrayada', sans-serif;
    margin-top: -1em;
}


/* CARD FIVE */

#card-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1em;
    background-image: url("../assets/credentialsGraphic.gif");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(252,249,250);
}

@media (max-width: 1200px) {
    #card-five {
        background-size: cover;
    }
    #card-two h5 {
        font-size: 1.1em;
    }
}


/* CARD SIX */

#card-six {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1em;
    overflow: scroll;
}

#card-six h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
}

.creds-text {
    padding: 2em;
    margin-top: -2em;
    margin-left: -2em;
}

#card-six p {
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
    line-height: 25px;
}

#card-six a {
    font-family: 'Montserrat Subrayada', sans-serif;
    margin-top: 1em;
}

#card-six ul {
    line-height: 25px;
    list-style-position: inside;
    /* margin-top: .5em; */
    margin-bottom: 1em;
}

/* #wd-gold {
    list-style-image: url('../assets/badges-webdev_gold icon.png');
}

#wd-blue {
    list-style-image: url('../assets/badges-webdev_blue icon.png');
}

#wd-red {
    list-style-image: url('../assets/badges-webdev_red icon.png');
}

#sd-gold {
    list-style-image: url('../assets/software_badge_yellow1 icon.png');
}

#sd-blue {
    list-style-image: url('../assets/software_badge_blue1 icon.png');
}

#sd-red {
    list-style-image: url('../assets/software_badge_red1 icon.png');
} */


/* CARD SEVEN */

#card-seven {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1em;
    background-image: url("../assets/accounts.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#card-seven h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
}

.social {
    width: 9rem;
    height: 9rem;
    border-radius: 10%;
    border: 1px solid transparent;
}

#linkedin {
    border-radius: 7%;
}

#facebook {
    border-radius: 20%;
}

/* @media (min-width: 1050px) {
    .social {
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow;
        transition-property: box-shadow;
    }
    .social:hover,
    .social:focus,
    .social:active {
        box-shadow: 0 0 8px rgb(235, 53, 108);
        outline: #c165b1;
    }
} */

@media (max-width: 1049px) {
    #card-seven {
        background-image: url("../assets/accounts2.gif");
        flex-direction: column;
        justify-content: space-evenly;
    }
    /* .social {
        box-shadow: none;
        border: none;
        width: 6.5rem;
        height: 6.5rem;
    } */
}


/* @media (max-width: 995px) {
    #card-seven {
        padding: 0;
        justify-content: space-between;
    }
    .social {
        width: 120px;
        height: 120px;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow;
        transition-property: box-shadow;
    }
    .social:hover,
    .social:focus,
    .social:active {
        box-shadow: 0 0 8px rgb(235, 53, 108);
        outline: #c165b1;
    }
    #linkedin {
        margin-left: .25em;
    }
    #facebook {
        margin-right: .25em;
    }
} */

@media (max-width: 800px) {
    #card-seven {
        padding: 0;
        justify-content: space-between;
    }
    #linkedin {
        margin-left: 2.3em;
    }
    #facebook {
        margin-right: 2.3em;
    }
}


/* CARD EIGHT */

#card-eight {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1em;
    overflow: scroll;
}

#card-eight h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
}

#card-eight p {
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
    line-height: 25px;
}

#card-eight a {
    font-family: 'Montserrat Subrayada', sans-serif;
    margin-top: 1em;
}

#card-eight a:hover {
    color: white;
}

#port-img {
    height: 100%;
    width: 90%;
}


/* Bob */

@-webkit-keyframes port-img {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes port-img {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes port-img-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes port-img-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

#port-img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#port-img:hover,
#port-img:focus,
#port-img:active {
    -webkit-animation-name: port-img-float, port-img;
    animation-name: port-img-float, port-img;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}


/* CARD NINE */

#card-nine {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1em;
    overflow: scroll;
    color: black;
    /* padding-bottom: 2em; */
}

#card-nine h1 {
    margin-top: 1em;
}

#card-nine label {
    color: black;
}

#card-nine form {
    /* margin-top: 2em; */
}

#card-nine h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
}

#card-nine p {
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
    line-height: 25px;
}

#card-nine a {
    font-family: 'Montserrat Subrayada', sans-serif;
    margin-top: 1em;
}

.btn {
    background-color: black;
    color: white;
    margin-bottom: 2em;
}

.btn:hover {
    background-color: #e1817d;
    color: black;
}

/* Carousel */

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-inner a:hover {
    color: black;
}

.carousel-caption {
    padding-left: 1em;
    padding-right: 1em;
}