#content-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


/* @media (max-width: 995px) {
    #content-wrapper {
        width: 100%;
    }
}

@media (max-width: 850px) {
    #content-wrapper {
        width: 100%;
    }
} */

#content {
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /* background-color: grey; */
}

.scrolling-wrapper {
    display: flex;
    /* justify-content: space-evenly; */
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 85%;
    height: 35em;
    padding: 0;
    margin: 0;
    /* margin-left: 3.7em; */
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

@media (max-width: 800px) {
    #content-wrapper {
        width: 100%;
    }
    #content {
        height: 520px;
    }
    .scrolling-wrapper {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 800px) {
    #content-wrapper {
        width: 100%;
    }
    #content {
        height: 520px;
    }
    .scrolling-wrapper {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 500px) {
    #content {
        width: 100%;
    }
    .scrolling-wrapper {
        height: 33em;
    }
}